<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Trader</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div id="flash"></div>
        <div>
            <h1>Web Trader</h1>
        </div>
        <div class="login_form">
            <form>
                <input name="user_name" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <br>
                <input type="submit">
            </form>
        </div>
        <div class="get_info">
            <button id="getinfo">Get Info</button>
            <button id="logout">Log Out</button>
            <div id="output"></div>
        </div>
    </header>
</body>
<script src="/static/scripts/script.js"></script>
</html>